<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mr.Flower</title>
    
    <link rel="stylesheet" href="../../../vendors/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../vendors/css/all.min.css">
    <link rel="stylesheet" href="../../../css/template/style.css">
    
    <link rel="stylesheet" href="../../../css/admin/style.css">
</head>
<body>
    <div class="auth">
        <!-- login form -->
        <form class="form-signin form__wrap">
            <div class="form">
                <div class="form-title">
                    Sign in
                </div>
                <div class='form-group'>
                    <label class="control-label">
                        Username
                    </label>
                    <input type="text" class="form-control" placeholder="johnny123">  
                </div>
                <div class='form-group'>
                    <label class="control-label">
                        Password
                    </label>
                    <input type="password" class="form-control" placeholder="">  
                </div>
                <div class="form-group">
                    <label class="custom-control custom-checkbox m-b-0 ">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-label mt-auto d-block">Remember me</span>
                    </label>
                </div>
                <div class="form-group">
                    <button class="btn btn-radiant">
                        login
                    </button>
                </div>
                <div class="d-flex justify-content-between mt-auto no-block flex-wrap">
                    <a href="./register.html">Register now!</a>
                    <a href="./forgot.html">Forgot password?</a>
                </div>
            </div>
        </form>
    </div>
    
    <!-- script -->
    <script src="../../../vendors/js/jquery-3.2.1.min.js"></script>
    <script src="../../../vendors/js/bootstrap.min.js"></script>
    
    <script src="../../../js/common.js"></script>
    <!-- <script src="../../../js/admin/auth.js"></script> -->
</body>
</html>