@import '../common/common.css';
body {
  font-family: Roboto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto;
}

.footer {
  background: linear-gradient(90.44deg, #FFBE9C 12.25%, #F4C390 55.45%, #FEE3AE 96.9%);
  color: white;
}

.icon-edit {
  padding: 10px;
  border-radius: 4px;
  display: block;
  text-align: right;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.icon-edit:hover {
  background-color: #dedede;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.modal .modal-header .modal-title, .form-common .modal-header .modal-title {
  color: #433528;
  font-size: 24px;
  width: 100%;
}
.modal form label, .form-common form label {
  color: #ACA4A3;
  padding-left: 10px;
  font-size: 16px;
}
.modal form input, .modal form select, .modal form textarea, .form-common form input, .form-common form select, .form-common form textarea {
  color: #433528;
  border-radius: 0;
  border: 1px solid #ACA4A3;
}
.modal form input, .modal form select, .form-common form input, .form-common form select {
  height: 50px;
}
.modal form .modal-footer, .form-common form .modal-footer {
  border-top: unset;
  padding-top: 0;
  padding-bottom: 30px;
}
.modal button[type=submit], .form-common button[type=submit] {
  height: 50px;
  font-size: 18px;
  width: 100%;
  max-width: 250px;
}

.datatable_custom {
  margin-top: 20px;
}
.datatable_custom th, .datatable_custom td {
  color: #433528;
  border-top: unset;
  border-bottom: 1px solid #e9ecef;
}
.datatable_custom td {
  cursor: pointer;
}

.dataTables_wrapper {
  padding: 0;
}
.dataTables_wrapper .pagination {
  justify-content: flex-end;
}
.dataTables_wrapper table.dataTable.dtr-inline.collapsed > tbody > tr[role=row] > td:first-child:before, .dataTables_wrapper table.dataTable.dtr-inline.collapsed > tbody > tr[role=row] > th:first-child:before {
  top: 19px;
}
.dataTables_wrapper .dataTables_filter label {
  text-align: left;
}

.table-basic th {
  font-size: 18px;
}
.table-basic td {
  font-size: 16px;
}

.table-products img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: contain;
  margin-right: 16px;
}

.border-radient {
  height: 4px;
  background: linear-gradient(90.44deg, #FFBE9C 12.25%, #F4C390 55.45%, #FEE3AE 96.9%);
  width: 100%;
}

.mini-sidebar .sidebar-nav #sidebarnav > li:hover > a {
  background-color: #f9f9f9;
}

.mini-sidebar .sidebar-nav #sidebarnav > li.active:hover > a {
  background: linear-gradient(90.44deg, #FFBE9C 12.25%, #F4C390 55.45%, #FEE3AE 96.9%);
}

.sidebar-nav > ul > li > a i {
  font-size: 20px;
}

.btn-radiant {
  background: linear-gradient(90.44deg, #FFBE9C 12.25%, #F4C390 55.45%, #FEE3AE 96.9%);
  padding: 14 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border-radius: 4px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  border: none;
}
.btn-radiant:hover {
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.auth {
  overflow: hidden;
  position: relative;
  background-image: url("../../images/admin/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.auth .background {
  position: absolute;
  width: 100%;
  min-height: 100vh;
}
.auth .form__wrap {
  align-items: center;
  justify-content: center;
  display: flex;
  min-height: 100vh;
  padding: 0 20px;
}
.auth .form {
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  margin: auto;
}
.auth .form .form-title {
  padding: 0 25px;
  color: #433528;
  font-size: 30px;
  margin-bottom: 40px;
}
.auth .form .form-group {
  padding: 0 25px;
}
.auth .form .custom-checkbox span {
  color: #ACA4A3;
}
.auth .form input {
  border: 1px solid #ACA4A3;
  background-color: transparent;
  height: 60px;
  padding: 18px 30px;
  border-radius: 0;
}
.auth .form input::placeholder {
  color: #ACA4A3;
}
.auth .form .control-label {
  font-size: 18px;
}
.auth .form button {
  margin: auto;
  margin-top: 40px;
  max-width: 230px;
  width: 100%;
  min-height: 48px;
  display: block;
}
.auth .form a {
  font-size: 16px;
  color: #2D9CDB;
}

.loader__figure {
  border: 0 solid #fb9678;
}

.loader__label {
  color: #fb9678;
}

.left-sidebar .logo {
  display: contents;
}
.left-sidebar .logo img {
  padding: 10px 4px;
  margin: auto;
  display: block;
  width: 100%;
  max-width: 119px;
}

.navbar {
  background-image: linear-gradient(90.44deg, #FFBE9C 12.25%, #F4C390 55.45%, #FEE3AE 96.9%);
  height: 260px;
  align-items: baseline;
  padding: 30px 40px 30px 0;
}
.navbar .navbar-nav:first-child {
  max-width: 670px;
  width: 100%;
}
.navbar .sidebartoggler {
  margin: 0 10px;
}
.navbar .navbar-search .input-group {
  border: 1px solid #FEFCFB;
  color: #FEFCFB;
  border-radius: 5px;
  width: 100%;
  background: transparent;
}
.navbar .navbar-search .input-group input, .navbar .navbar-search .input-group .input-group-text {
  background: transparent;
  color: #FEFCFB;
  border: 0;
}
.navbar .navbar-search .input-group input::placeholder, .navbar .navbar-search .input-group .input-group-text::placeholder {
  color: #FEFCFB;
}
.navbar .navbar-search .input-group input {
  padding: 0.375rem 0.75rem 0.375rem 0;
}
.navbar .user-profile .user-pro-body img {
  margin: 5px auto;
}

.content {
  position: relative;
  margin-top: -130px;
  padding-bottom: 35px;
}
.content .page-titles h4 {
  font-size: 24px;
  text-transform: capitalize;
}
.content .content__wrap {
  margin-bottom: 10px;
  padding: 25px 30px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}
.content .breadcrumb {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
}
.content .breadcrumb li a {
  text-transform: capitalize;
  color: white;
}
.content .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  color: white;
}
.content .breadcrumb li.breadcrumb-item.active {
  color: white;
  text-transform: capitalize;
}

.overview .page-desc {
  background: #FEFCFB;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  padding: 40px;
  color: #ACA4A3;
}
.overview .page-desc h4 {
  font-size: 22px;
  color: #433528;
}
.overview .page-desc .page-desc-edit:hover {
  text-decoration: underline;
}
.overview .page-statistic {
  padding: 30px 0;
}
.overview .page-statistic .card {
  background: #FEFCFB;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}
.overview .page-statistic .card .card-icon {
  border-radius: 50%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
}
.overview .page-statistic .card .card-icon i {
  font-size: 40px;
  color: white;
}
.overview .page-statistic .card.card-orders .card-icon {
  background-color: #24C1D9;
}
.overview .page-statistic .card.card-needorder .card-icon {
  background-color: #F78099;
}
.overview .page-statistic .card.card-staff .card-icon {
  background-color: #20E6B2;
}

.section {
  padding: 21px 30px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
}
.section .title {
  margin-bottom: 40px;
  font-size: 22px;
  font-weight: 500;
}
.section .ribbon-wrapper, .section .ribbon-wrapper-reverse, .section .ribbon-wrapper-bottom, .section .ribbon-wrapper-right-bottom {
  padding: 15px 15px 15px 15px;
}
.section .ribbon-vertical-r {
  height: 50px;
  line-height: 50px;
  font-weight: 500;
  font-size: 18px;
  width: 44px;
}
.section .ribbon-bookmark:before {
  border: 24px solid #EB5757;
  border-right: 20px solid #EB5757;
  border-bottom: 10px solid transparent;
}

.products .ribbon {
  width: 44px;
  background-color: #EB5757;
}
.products .ribbon .ribbon-bookmark.ribbon-vertical-r:before {
  border-right: #EB5757;
}
.products .card {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}
.products .card .card-body {
  padding: 0;
}
.products .product .product-text {
  padding: 14px 0 0 0;
}
.products .product .product-name {
  font-size: 24px;
  color: #ACA4A3;
}
.products .product .product-price {
  font-size: 30px;
}
.products .product button {
  padding: 5px 15px;
}
.products .product .product-btn {
  padding: 13px 13px 0 13px;
}
.products .product .product-btn button {
  margin: 3px 10px;
}

.customers .table__wrap .table-name {
  font-size: 24px;
  text-transform: capitalize;
  background: linear-gradient(90.44deg, #FFBE9C 12.25%, #F4C390 55.45%, #FEE3AE 96.9%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -o-text-fill-color: transparent;
}
.customers .table__wrap .table-btn-add {
  text-transform: capitalize;
}

.orders-detail .content__wrap:last-child .form-row .col-form-label {
  margin-right: 10px;
}
.orders-detail .content__wrap:last-child .form-row .col-form-input {
  width: calc(100% - 100px);
}

.customers-detail form .col-form-label, .suppliers-detail form .col-form-label, .orders-detail form .col-form-label {
  width: 100px;
}
.customers-detail form .col-form-input, .suppliers-detail form .col-form-input, .orders-detail form .col-form-input {
  width: calc(100% - 100px);
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 30px 40px;
  }

  .col {
    flex-basis: unset;
  }
}
@media screen and (max-width: 425px) {
  body {
    font-size: 16px;
  }

  .content {
    padding: 0 15px;
  }

  .auth .form .form-title {
    font-size: 24px;
    padding: 0;
  }

  .auth .form .form-group {
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
