
$main-black: #433528;
$main-blue: #56CCF2;
$main-gray: #ACA4A3;
$main-pink: #fb9678;
$big-text:24px;
$nor-text:16px;
$small-text: 12px;
$background-image: linear-gradient(90.44deg, #FFBE9C 12.25%, #F4C390 55.45%, #FEE3AE 96.9%);

@import '../common/mixin.scss';
@import '../common/common.css';

body{
    font-family: Roboto;
}
h1,h2,h3,h4,h5,h6{
    font-family: Roboto;
}
.footer{
    background: $background-image;
    color: white;
}
.icon-edit{
    padding: 10px;
    border-radius: 4px;
    display: block;
    text-align: right;
    @include compatible(transition, .2s);
    &:hover{
        background-color: #dedede;
        @include compatible(transition, .2s);
    }
}
.modal , .form-common{
    .modal-header .modal-title{
        color: #433528;
        font-size: 24px;
        width: 100%;
    }
    form{
        label{
            color: #ACA4A3;
            padding-left: 10px;
            font-size: 16px;
        }
        input, select, textarea{
            color: #433528;
            border-radius: 0;
            border: 1px solid #ACA4A3;
        }
        input,select{
            height: 50px;
        }
        .modal-footer{
            border-top: unset;
            padding-top: 0;
            padding-bottom: 30px;
        }
    }
    button[type="submit"]{
        height: 50px;
        font-size: 18px;
        width: 100%;
        max-width: 250px;
    }
}
.datatable_custom{
    margin-top:20px;
    th, td{
        color: #433528;
        border-top: unset;
        border-bottom: 1px solid #e9ecef;
    }
    td{
        cursor: pointer;
    }
}
.dataTables_wrapper{
    padding: 0;
    .pagination{
        justify-content: flex-end;
    }
    table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before{
        top: 19px;
    }
    .dataTables_filter{
        label{
            text-align: left;
        }
    }
}
.table-basic{
    th{
        font-size: 18px;
    }
    td{
        font-size: 16px;
    }
}
.table-products{
    img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: contain;
        margin-right: 16px;
    }
}
.border-radient{
    height: 4px;
    background: $background-image;
    width: 100%;
}
.mini-sidebar .sidebar-nav #sidebarnav > li:hover > a{
    background-color: #f9f9f9;
}
.mini-sidebar .sidebar-nav #sidebarnav > li.active:hover > a{
    background: $background-image;
}
.sidebar-nav > ul > li > a i{
    font-size: 20px;
}
.btn-radiant{
    background: $background-image;
    padding: 14 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 4px;
    @include compatible(transition, .2s);
    border: none;
    &:hover{
        @include compatible(transition, .2s);
    }
}
.auth{
    overflow: hidden;
    position: relative;
    background-image: url('../../images/admin/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    .background{
        position: absolute;
        width: 100%;
        min-height: 100vh;
    }
    .form__wrap{
        align-items: center;
        justify-content: center;
        display: flex;
        min-height: 100vh;
        padding: 0 20px;
    }
    .form{
        padding: 20px;
        border-radius: 5px;
        max-width: 500px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.9);
        margin: auto;
        .form-title{
            padding: 0 25px;
            color: $main-black;
            font-size: 30px;
            margin-bottom: 40px;
        }
        .form-group{
            padding: 0 25px;
        }
        .custom-checkbox{
            span{
                color: $main-gray;
            }
        }
        input{
            border: 1px solid $main-gray;
            background-color: transparent;
            height: 60px;
            padding: 18px 30px;
            border-radius: 0;
            &::placeholder{
                color: $main-gray;
            }
        }
        .control-label{
            font-size: 18px;
        }
        button{
            margin: auto;
            margin-top: 40px;
            max-width: 230px;
            width: 100%;
            min-height: 48px;
            display: block;
        }
        a{
            font-size: 16px;
            color: #2D9CDB;
        }
    }
}
.loader__figure{
    border: 0 solid $main-pink;
}
.loader__label{
    color: $main-pink;
}
.left-sidebar{
    .logo{
        display: contents;
        img{
            padding: 10px 4px;
            margin: auto;
            display: block;
            width: 100%;
            max-width: 119px;
        }
    }
}
.navbar{   
    background-image: $background-image;
    height: 260px;
    align-items: baseline;
    padding: 30px 40px 30px 0;
    .navbar-nav:first-child{
        max-width: 670px;
        width: 100%;
    }
    .sidebartoggler {
        margin:0 10px;
    }
    .navbar-search{
        .input-group{
            border: 1px solid #FEFCFB;
            color: #FEFCFB;
            border-radius: 5px;
            width: 100%;
            background: transparent;
            input, .input-group-text{
                background: transparent;
                color: #FEFCFB;
                border: 0;
                &::placeholder{
                    color: #FEFCFB;
                }
            }
            input{
                padding: 0.375rem 0.75rem 0.375rem 0;
            }
        }
    }
    .user-profile{
        .user-pro-body img{
            margin:5px auto;
        }
    }
}
.content{
    position: relative;
    margin-top: -130px;
    padding-bottom: 35px;
    .page-titles h4{
        font-size: 24px;
        text-transform: capitalize;
    }
    .content__wrap{
        margin-bottom: 10px;
        padding: 25px 30px;
        background-color: white;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    }
    .breadcrumb{
        padding-left: 10px;
        padding-right: 10px;
        font-size: 16px;
        li a{
            text-transform: capitalize;
            color: white;
        }
        .breadcrumb-item + .breadcrumb-item::before{
            color: white;
        }
        li.breadcrumb-item.active{
            color: white;
            text-transform: capitalize;
        }
    }
}
.overview{
    .page-desc{
        background: #FEFCFB;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
        padding: 40px;
        color: $main-gray;
        h4{
            font-size: 22px;
            color: $main-black;
        }
        .page-desc-edit{
            &:hover{
                text-decoration: underline;
            }
        }
    }
    .page-statistic{
        padding: 30px 0;
        .card{
            background: #FEFCFB;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
            .card-icon{
                border-radius: 50%;
                height: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 80px;
                i{
                    font-size: 40px;
                    color: white;
                }
            }
            &.card-orders{
                .card-icon{
                    background-color: #24C1D9;
                }
            }
            &.card-needorder{
                .card-icon{
                    background-color: #F78099;
                }
            }
            &.card-staff{
                .card-icon{
                    background-color: #20E6B2;
                }
            }
        }
    }
}
.section{
    padding: 21px 30px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
    .title{
        margin-bottom: 40px;
        font-size: 22px;
        font-weight: 500;
    }
    .ribbon-wrapper, .ribbon-wrapper-reverse, .ribbon-wrapper-bottom, .ribbon-wrapper-right-bottom{
        padding: 15px 15px 15px 15px;
    }
    .ribbon-vertical-r{
        height: 50px;
        line-height: 50px;
        font-weight: 500;
        font-size: 18px;
        width: 44px;
    }
    .ribbon-bookmark:before{
        border: 24px solid #EB5757;
        border-right: 20px solid #EB5757;
        border-bottom: 10px solid transparent;
    }
}

.products{
    .ribbon{
        width: 44px;
        background-color:#EB5757;
        .ribbon-bookmark.ribbon-vertical-r:before{
            border-right: #EB5757;
        }
    }
    .card{
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
        .card-body{
            padding: 0;
        }
    }
    .product{
        .product-text{
            padding: 14px 0 0 0;
        }
        .product-name{
            font-size: 24px;
            color: $main-gray;
        }
        .product-price{
            font-size: 30px;
        }
        button{
            padding: 5px 15px;
        }
        .product-btn{
            padding: 13px 13px 0 13px;
            button{
                margin: 3px 10px;
            }
        }
    }
}
.customers{
    .table__wrap{
        .table-name{
            font-size: 24px;
            text-transform: capitalize;
            background: $background-image;
            @include compatible(background-clip,text);
            @include compatible(text-fill-color,transparent);
        }
        .table-btn-add{
            text-transform: capitalize;
        }
    }
}
.orders-detail{
    .content__wrap:last-child{
        .form-row{
            .col-form-label{
                margin-right: 10px;
            }
            .col-form-input{
                width: calc(100% - 100px);
            }
        }
    }
}
.orders-add{
    form{
    }
}
.customers-detail , .suppliers-detail, .orders-detail{
    form{
        .col-form-label{
            width: 100px;            
        }
        .col-form-input{
            width: calc(100% - 100px);
        }
    }
}
@media screen and (max-width:768px){
    .navbar{
        padding: 30px 40px;
    }
    .col{
        flex-basis: unset;
    }
}
@media screen and (max-width:425px){
    body{
        font-size: $nor-text;
    }
    .content {
        padding: 0 15px;
    }
    .auth .form .form-title{
        font-size: $big-text;
        padding: 0;
    }
    .auth .form .form-group{
        padding: 0;
    }
}