<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Flower</title>
  
  <link rel="stylesheet" href="../../vendors/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../vendors/css/all.min.css">
  
  <link rel="stylesheet" href="../../css/home/style.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-home">
    <a class="navbar-brand" href="#">
      <img src="../../images/home/logo.png" alt="flower" width="85">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav justify-content-center">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">PORTFOLIO</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            product
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Rose</a>
            <a class="dropdown-item" href="#">Violet</a>
            <!-- <div class="dropdown-divider"></div> -->
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
      <div class="nav-left d-flex flex-wrap">
        <i class="fas fa-shopping-bag">
          <div>2</div>
        </i>
        <div>LOGIN</div> 
        <div>SIGN UP</div>
      </div>
    </div>
  </nav>

  <div class="background__img background__img-right">
    <img src="../../images/home/img1.png" alt="">
  </div>
  <div class="background__img background__img-left">
    <img src="../../images/home/img2.png" alt="">
  </div>

  <!-- banner -->
  <div class="container-fluid">
    <div id="banner" class="">
      <div class="row">
        <img src="../../images/home/banner.png">
      </div>
    </div>
    <!-- portfolio -->
    
    <div id="portfolio" class="section">
      <div class="section__title">
        portfolio
      </div>
      <div class="section__wrap">
        <div class="row">
          <div class="col-md-4 col-sm-6 products">
            <img src="../../images/products/1.png" alt="">
            <img src="../../images/products/2.png" alt="">
          </div>
          <div class="col-md-4 col-sm-6 products">
            <img src="../../images/products/3.png" alt="">
            <img src="../../images/products/4.png" alt="">
          </div>
          <div class="col-md-4 col-sm-6 products products__single">
            <div class="product__img">
              <img src="../../images/products/tall.png" alt="">
            </div>
            <div class="product__name-inside">Rose white</div>
          </div>
        </div>     
      </div>
    </div>
    
    <!-- products -->
    <div id="products" class="section">
      <div class="section__title">
        product
      </div>
      <div class="section__wrap">
        <div class="row">
          <div class="col-md-4 col-sm-6 products">
            <div class="card">
              <img class="" src="../../images/products/1.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">
                  Rose white
                </p>
                <p class="red product__price">
                  $ 10.00
                </p>
              </div>
            </div>
            <div class="card">
              <img class="" src="../../images/products/2.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">
                  Rose white
                </p>
                <p class="red product__price">
                  $ 10.00
                </p>
              </div>
            </div>
            <div class="card">
              <img class="" src="../../images/products/5.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">
                  Rose white
                </p>
                <p class="red product__price">
                  $ 10.00
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 products">
            <div class="card">
              <img class="" src="../../images/products/5.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">
                  Rose white
                </p>
                <p class="red product__price">
                  $ 10.00
                </p>
              </div>
            </div>
            <div class="card">
              <img class="" src="../../images/products/5.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">
                  Rose white
                </p>
                <p class="red product__price">
                  $ 10.00
                </p>
              </div>
            </div>
            <div class="card">
              <img class="" src="../../images/products/5.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">
                  Rose white
                </p>
                <p class="red product__price">
                  $ 10.00
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 products">
            <div class="card">
              <img class="" src="../../images/products/2.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">
                  Rose white
                </p>
                <p class="red product__price">
                  $ 10.00
                </p>
              </div>
            </div>
            <div class="card">
              <img class="" src="../../images/products/1.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">
                  Rose white
                </p>
                <p class="red product__price">
                  $ 10.00
                </p>
              </div>
            </div>
            <div class="card">
              <img class="" src="../../images/products/2.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">
                  Rose white
                </p>
                <p class="red product__price">
                  $ 10.00
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- footer -->
  <footer class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="title">
          Contact Us 
        </div>
        <div class="form-group row">
          <div class="col-md-2">
            Address:
          </div>
          <div class="col-md-8">
            752 Fincher Rd undefined Louisville, West Virginia 58126 United States
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-2">
            Phone:
          </div>
          <div class="col-md-8">
            (414) 555-0132
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-2">
            Email:
          </div>
          <div class="col-md-8">
            monica.roberts@example.com
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- script -->
  <script src="../../vendors/js/jquery-3.2.1.min.js"></script>
  <script src="../../vendors/js/bootstrap.min.js"></script>
  
  <script src="../../js/home/home.js"></script>
  
</body>
</html>